<!--form.vtl-->
<h1>Please enter the dollar amount and I will show you the change!</h1>
<form action='/change' method='get'>
  <div class="form-group">
    <label for="dollarAmount">Dollar Amount</label>
    <input id="dollarAmount" name="dollarAmount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit!</button>
</form>
<!--form.vtl-->
